<div class="container">
  <div class="row justify-content-center">
    <h1>
      ATM Application
    </h1>
  </div>
  <div class="row justify-content-center">
    <h5>
      Manage an ATM with this application! You may withdraw, restock, or see an overview of the ATM.
    </h5>
  </div>
  <div class="row justify-content-center padding-top-1-percent">
    <div class="col-2">
      <button type="button" class="btn btn-primary" routerLink="/withdraw">Withdraw</button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary" routerLink="/restock">Restock</button>
    </div>
    <div class="col-1">
      <button type="button" class="btn btn-primary" routerLink="/overview">Overview</button>
    </div>
  </div>
</div>
